<h1>Editing commit</h1>

<% form_for(@commit) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :repository_id %><br />
    <%= f.text_field :repository_id %>
  </p>
  <p>
    <%= f.label :shaid %><br />
    <%= f.text_field :shaid %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :authorname %><br />
    <%= f.text_field :authorname %>
  </p>
  <p>
    <%= f.label :authoremail %><br />
    <%= f.text_field :authoremail %>
  </p>
  <p>
    <%= f.label :message %><br />
    <%= f.text_area :message %>
  </p>
  <p>
    <%= f.label :added %><br />
    <%= f.text_area :added %>
  </p>
  <p>
    <%= f.label :removed %><br />
    <%= f.text_area :removed %>
  </p>
  <p>
    <%= f.label :modified %><br />
    <%= f.text_area :modified %>
  </p>
  <p>
    <%= f.label :committime %><br />
    <%= f.datetime_select :committime %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @commit %> |
<%= link_to 'Back', commits_path %>