%h1 Listing commits
%table
  %tr
    %th Repository
    %th Shaid
    %th Url
    %th Authorname
    %th Authoremail
    %th Message
    %th Added
    %th Removed
    %th Modified
    %th Committime
  - @commits.each do |commit|
    %tr
      %td= h commit.repository_id
      %td= h commit.shaid
      %td= h commit.url
      %td= h commit.authorname
      %td= h commit.authoremail
      %td= h commit.message
      %td= h commit.added
      %td= h commit.removed
      %td= h commit.modified
      %td= h commit.committime
      %td= link_to 'Show', commit
      %td= link_to 'Edit', edit_commit_path(commit)
      %td= link_to 'Destroy', commit, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New commit', new_commit_path
