%p
  %b Repository:
  = @commit.repository_id
%p
  %b Shaid:
  = @commit.shaid
%p
  %b Url:
  = @commit.url
%p
  %b Authorname:
  = @commit.authorname
%p
  %b Authoremail:
  = @commit.authoremail
%p
  %b Message:
  = @commit.message
%p
  %b Added:
  = @commit.added
%p
  %b Removed:
  = @commit.removed
%p
  %b Modified:
  = @commit.modified
%p
  %b Committime:
  = @commit.committime

= link_to 'Back', repository_commits_path(@repository)
