%h2 Adhearsion Component Repositories on GitHub

= form_tag root_path, :method => 'get', :id => 'search-form' do
  %p
    = text_field_tag :search, params[:search], :placeholder => "Component Name"
    = submit_tag "Search", :name => nil

%table.highlightable{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  - @repositories.each do |repository|
    %tr
      %td
        %ul
          %li{:id => "repository-#{repository.id}"}
            %p
              = link_to repository.name, repository.homepage_url || repository.url
              = "v#{repository.rubygem_version}" if repository.rubygem_version
              from
              = link_to repository.ownername, "http://github.com/#{repository.ownername}"
              @
              = link_to "Github", repository.url
              - if repository.rubygem_url
                +
                = link_to "Rubygems.org", repository.rubygem_url
            / Add download button with tracker
            %p= repository.description
            %p
              = link_to image_tag('web-icon-small.png', :border =>"0", :title => "Goto component's hompage"), repository.homepage
              - if repository.privateflag
                = image_tag 'encrypted.png', :border =>"0", :width => "18", :title => "Repository is private"
              - else
                = image_tag 'decrypted.png', :border =>"0", :width => "18", :title => "Repository is public"
              = image_tag 'watchers.png', :border =>"0", :width => "20", :title => "Watchers"
              = repository.watchers
              = image_tag 'forkstrans.png', :border =>"0", :height => "20", :title => "Forks"
              = repository.forks
              - unless repository.commits.empty?
                \- updated at
                = link_to repository.commits.last.created_at.to_s, repository.commits.last.url
                by
                = link_to repository.commits.last.authorname, "http://github.com/#{repository.commits.last.authorname}"
                \-
                = repository.commits.last.message

            = link_to 'more...', "#repository-#{repository.id}", :class => "more"
            %div.more_data{:style => "display:none;"}
              %table.highlightable{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                - repository.commits.each do |commit|
                  %tr
                    %td
                      Updated at
                      = link_to commit.created_at.to_s, commit.url
                      by
                      = link_to commit.authorname, "http://github.com/#{commit.authorname}"
                      \-
                      = commit.message
%br/
= will_paginate @repositories
