<p>
  <b>Name:</b>
  <%=h @repository.name %>
</p>

<p>
  <b>Url:</b>
  <%=h @repository.url %>
</p>

<p>
  <b>Description:</b>
  <%=h @repository.description %>
</p>

<p>
  <b>Homepage:</b>
  <%=h @repository.homepage %>
</p>

<p>
  <b>Watchers:</b>
  <%=h @repository.watchers %>
</p>

<p>
  <b>Forks:</b>
  <%=h @repository.forks %>
</p>

<p>
  <b>Privateflag:</b>
  <%=h @repository.privateflag %>
</p>

<p>
  <b>Ownername:</b>
  <%=h @repository.ownername %>
</p>

<p>
  <b>Owneremail:</b>
  <%=h @repository.owneremail %>
</p>


<%= link_to 'Edit', edit_repository_path(@repository) %> |
<%= link_to 'Back', repositories_path %>