%p
  %b Name:
  = @repository.name
%p
  %b Url:
  = @repository.url
%p
  %b Description:
  = @repository.description
%p
  %b Homepage:
  = @repository.homepage
%p
  %b Watchers:
  = @repository.watchers
%p
  %b Forks:
  = @repository.forks
%p
  %b Privateflag:
  = @repository.privateflag
%p
  %b Ownername:
  = @repository.ownername
%p
  %b Owneremail:
  = @repository.owneremail

= link_to 'Back', repositories_path
