.search-wrapper
  %form.form-wrapper.cf(action="/search" method="post")
    %input(type="text" name="query" placeholder="Find Plugins" required)
    %button(type="submit") Search
  .clear
.component_container
  %ul#recent_components
    - if defined? @search_string
      .search-box Adhearsion Plugins matching #{@search_string}
    - @plugins_view.each do |plugin|
      %li{ :id => "component-#{plugin[:id]}"}
        %p
          %a{ :href => plugin[:url], :class => "component_title" }= plugin[:name]
          from
          %a{ :href => "https://github.com/#{plugin[:owner]}" }= plugin[:owner]
        %p= plugin[:desc]
        #repo_stats
          %img(alt="Watchers" border="0" src="images/watchers.png" title="Watchers" width="20")= plugin[:watchers]
          %img(alt="Forks" border="0" src="images/forkstrans.png" title="Forks" height="20")= plugin[:forks]
        #plugin_source
          %img(alt="Source" border="0" src="images/icons/#{plugin[:source]}_sourced.png" title="Source" height="48")
        %p.component_info
          %a{ :href => "#component-#{plugin[:id]}", :class => "recent_commits" } recent commits...
        %p

