.search-wrapper
  %form.form-wrapper.cf(action="/search" method="post")
    %input(type="text" name="query" placeholder="Find Plugins" required)
    %button(type="submit") Search
  .clear
.component_container
  %ul#recent_components
    - @plugins_view ||= [{:id => "0", :url => "http://nonsense.com", :name => 'adhearsion-ims', :owner => 'adhearsion', :desc => 'Adhearsion plugin for integration with IP Multimedia Subsystems (IMS) using Rayo', :forks => '0', :watchers => '5'}, :p2 => {:id => "1", :url => "http://nonsequitor.com", :name => 'adhearsion-asterisk', :owner => 'adhearsion', :desc => 'Adhearsion plugin for integration with Asterisk', :forks => '2', :watchers => '15'}]
    - if defined? @search_string
      .search-box Adhearsion Plugins matching #{@search_string}
    - @plugins_view.each do |plugin|
      %li{ :id => "component-#{plugin[:id]}"}
        %p
          %a{ :href => plugin[:url], :class => "component_title" }= plugin[:name]
          from
          %a{ :href => "https://github.com/#{plugin[:owner]}" }= plugin[:owner]
        %p= plugin[:desc]
        #repo_stats
          %img(alt="Watchers" border="0" src="images/watchers.png" title="Watchers" width="20")= plugin[:watchers]
          %img(alt="Forks" border="0" src="images/forkstrans.png" title="Forks" height="20")= plugin[:forks]
        %p.component_info
          %a{ :href => "#component-#{plugin[:id]}", :class => "recent_commits" } recent commits...
        %p

