.search-wrapper
  %form.form-wrapper.cf(action="/search" method="post")
    %input(type="text" name="query" placeholder="Find Plugins" required)
    %button(type="submit") Search
  .clear
.component_container
  %ul#recent_components
    - if defined? @plugins_view
      - @plugins_view.each do |plugin|
        %li{ :id => "component-#{plugin[:id]}"}
          %p
            %a{ :href => plugin[:url], :class => "component_title" }= plugin[:name]
            from
            %a{ :href => "https://github.com/#{plugin[:owner]}" }= plugin[:owner]
          %p= plugin[:desc]
          #repo_stats
            %img(alt="Watchers" border="0" src="images/watchers.png" title="Watchers" width="20")= plugin[:watchers]
            %img(alt="Forks" border="0" src="images/forkstrans.png" title="Forks" height="20")= plugin[:forks]
          #plugin_source
            - if plugin[:source] == 'github'
              - source_link = 'http://www.github.com'
            - elsif plugin[:source] == 'rubygems'
              - source_link = 'http://www.rubygems.org'
            %a(href="#{source_link}" target="_blank")
              %img(alt="Source Icon" border="0" src="images/icons/#{plugin[:source]}_sourced.png" title="Source" height="36")
          %p.component_info
            %a{ :href => "#component-#{plugin[:id]}", :class => "recent_commits" } recent commits...
            - plugin.commits.each do |commit|
              .more_data(style="display:none;")
                %ul
                  %li
                    Updated at
                    %a{ :href => "#{commit[:url]}" }= commit[:updated_at]
                    by #{commit[:author]} - #{commit[:message]}
            %p &nbsp;
          %p

%a#main-nav-active{:href => "#", :style => "display:none;"} #main-nav-home
