%h1 Welcome to AhnHub.com

%p
  During
  = link_to 'Adhearsion', 'http://adhearsion.com'
  Conf 2010,
  = link_to '@Jicksta', 'http://twitter.com/jicksta'
  suggested that we create a directory for Adhearsion components. 15 minutes later we had the domain registered and a starter site online. Let
  = link_to '@ChrisMatthieu', 'http://twitter.com/chrismatthieu'
  know if you would like to join in on the hacking fun as a contributer on
  = link_to 'GitHub', 'http://github.com/chrismatthieu/ahnhub'
  \:)

%p
  Follow us on Twitter at
  = link_to '@Ahnhub', 'http://twitter.com/ahnhub'

%h2 Contributors:
%ul
  %li= link_to '@ChrisMatthieu', 'http://twitter.com/chrismatthieu'
  %li= link_to '@Jicksta', 'http://twitter.com/jicksta'
  %li= link_to '@BKlang', 'http://twitter.com/bklang'
