%center= image_tag 'ahnconf.jpg'
%h1 Welcome to AhnHub.com
%p= "Our goal is to hack out an #{link_to 'Adhearsion', 'http://adhearsion.com'} component directory during AdhearsionConf!  Let #{link_to 'Chris Matthieu', 'http://twitter.com/chrismatthieu'} know if you would like to join in on the hacking fun :)"
%h2 References:
%ul
  %li= link_to 'http://ahnhub.com', 'http://ahnhub.com'
  %li= link_to 'http://github.com/chrismatthieu/ahnhub', 'http://github.com/chrismatthieu/ahnhub'
